
{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% from 'macros.html' import post_card, render_user_role, follow_area, static_file, level_badge, username, avatar with context %}
{% set locale = 'en_US' if not current_user.locale else current_user.locale %}
{% block title %}
    Flog - {{ user.username }}
{% endblock title %}
{% block page_content %}
<div class="row container">
    <div class="col-lg-4" style="margin-top: 3em; margin-bottom: 3em;">
        {{ avatar(user, size=200) }}
    </div>
    <div class="col-lg-8">
        <div class="basic-profile">
            {{ username(user, size="150%", link=False) }}
            {% if current_user.can(Permission.MODERATE) or user == current_user %}
                <div class="d-flex">
                    <div class="mr-2">{{ static_file("svg", "svg/pi-empty.svg", width=20, height=20) }}</div>
                    <div>{{ user.coins | round(2) }}</div>
                </div>
                <div class="d-flex">
                    <div id="current-level-full">
                        <div id="current-level-progress" data-experience="{{ user.experience }}" data-level="{{ user.level() }}">
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if user.name or user.location %}
            <p>
                {% if user.name and current_user.can(Permission.MODERATE) %}{{ user.name }}{% endif %}
                {% if user.location %}
                    {{ _("from") }} <a href="http://bing.com/maps/?q={{ user.location }}">
                        {{ user.location }}
                    </a>
                {% endif %}
            </p>
            {% endif %}

            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}

            <p>
                {% if user.member_since %}
                {{ _("Member since") }} {{ moment(user.member_since).format('L') }}
                {% endif %}
                {% if user.last_seen %}
                {{ _('Last seen') }} {{ moment(user.last_seen).fromNow() }}
                {% endif %}
            </p>
            {{ follow_area(user) }}
            <p>
                {% if user != current_user %} {{ _("This user has") }}
                {% else %}{{ _("You have") }}
                {% endif %}{{ ngettext('%(num)s follower', '%(num)s followers', __num=user.followers.count()-1) }}
            </p>
            {% if user == current_user %}
                <a class="btn btn-outline-primary" href="{{ url_for('user.edit_profile', id=user.id) }}">
                    {{ _("Edit Profile") }}
                </a>
            {% if not current_user == user %}
                <a class="btn btn-outline-primary" href="{{ url_for('group.invite_user', user_id=user.id) }}">
                    {{ _("Invite this user to your group.") }}
                </a>
            {% endif %}

            <hr />
            <h4>{{ description.title }}</h4>
            {% if current_user == description.author %}
                <a href="{{ url_for('main.edit_post', id=description.id) }}" target="_blank" class="link text-primary"><i class="bi bi-pencil"></i>&nbsp;{{ _("Edit") }}</a>&nbsp;&nbsp;
            {% endif %}
            <p>{{ description.content | safe }}</p>
        </div>
    </div>
</div>
<div class="row">
    <ul class="nav nav-tabs col-lg-12">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#posts">Posts</a>
        </li>
    </ul>
</div>
<div class="row">
    <div class="tab-content col-lg-8 pl-0 ml-0">
        <div id="posts" class="tab-pane active">
            <ul class="list-group">
                {% for post in post_pagination.items %}
                    {{ post_card(post, no_author=True) }}
                {% endfor %}
            </ul>
            {{ render_pagination(post_pagination) }}
        </div>
    </div>
    <div class="col-lg-4">
        <h3>
            {{ _("%(num)d post(s) in all", num=posts | length) }}
        </h3>
    </div>
</div>
{% endblock page_content %}
