[[source]]
name = "pypi"
url = "http://pypi.org/simple"

[dev-packages]
pytest = "*"
coverage = "*"
flake8 = "*"
faker = "*"
coveralls = "*"
pylint = "*"
autopep8 = "*"

[packages]
alembic = "*"
attrs = "*"
blinker = "*"
bootstrap-flask = "*"
certifi = "*"
cffi = "*"
chardet = "*"
click = "*"
cryptography = "*"
docopt = "*"
email-validator = "*"
flask-babel = "*"
flask-ckeditor = "*"
flask-login = "*"
flask-mail = "*"
flask-moment = "*"
flask-sslify = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
idna = "*"
itsdangerous = "*"
mako = "*"
markdown = "*"
more-itertools = "*"
pluggy = "*"
py = "*"
psycopg2-binary = "*"
pycparser = "*"
pyparsing = "*"
python-dateutil = "*"
python-dotenv = "*"
python-editor = "*"
requests = "*"
six = "*"
sqlalchemy = "*"
toml = "*"
urllib3 = "*"
wcwidth = "*"
Flask = "*"
Flask-Share = "*"
Flask-Migrate = "*"
Flask-WTF = "*"
Jinja2 = "*"
MarkupSafe = "*"
Unidecode = "*"
Werkzeug = "*"
WTForms = "*"
flask-cors = "*"
flask-httpauth = "*"

[requires]
python_version = "3.8"
