[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify-ssl = true

[dev-packages]
pytest = "*"
coverage = "*"
flake8 = "*"
Faker = "*"
coveralls = "*"
pylint = "*"
recommonmark = "*"
sphinx-rtd-theme = "*"
Sphinx = "*"
sphinx-autobuild = "*"
docutils = "*"
pytest-cov = "*"
pymysql = "*"
black = "*"

[packages]
alembic = "*"
attrs = "*"
blinker = "*"
Bootstrap-Flask = "*"
certifi = "*"
cffi = "*"
chardet = "*"
click = "*"
cryptography = "*"
docopt = "*"
email-validator = "*"
Flask-Babel = "*"
Flask-CKEditor = "*"
Flask-Login = "*"
Flask-Mail = "*"
flask-moment = "*"
Flask-SSLify = "*"
Flask-SQLAlchemy = "*"
gunicorn = "*"
idna = "*"
itsdangerous = "*"
Mako = "*"
more-itertools = "*"
pluggy = "*"
py = "*"
psycopg2-binary = "*"
pycparser = "*"
pyparsing = "*"
python-dateutil = "*"
python-dotenv = "*"
python-editor = "*"
six = "*"
SQLAlchemy = "*"
toml = "*"
urllib3 = "*"
wcwidth = "*"
Flask = "*"
Flask-Share = "*"
Flask-Migrate = "*"
Flask-WTF = "*"
Jinja2 = "*"
MarkupSafe = "*"
Werkzeug = "*"
WTForms = "*"
Flask-Cors = "*"
flask-httpauth = "*"
bleach = "*"
flask-apispec = "*"
flask-caching = "*"
flask-compress = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
