#image-large {
    width: 50% !important;
    left: 25%;
    height: auto !important;
    max-height: 1200px !important;
    top: 10px;
    text-align: center;
    position: fixed;
    z-index: 100;
    opacity: 1;
}

#image-large:hover {
    cursor: zoom-out;
}

#toast {
    display: none;
    min-width: 200px;
    margin-left: -125px;
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    border-radius: 2px;
    padding: 10px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#back-to-top {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 50px;
    bottom: 180px;
    padding: 5px;
}

#current-level-full,
#current-level-progress {
    height: 15px;
}

#current-level-full {
    margin-top: 3px;
    margin-right: 10px;
    width: 350px;
    background-color: #bbb;
}

#current-level-progress {
    background-color: #09b3eb;
}

.image-normal {
    max-height: 200px;
    max-width: 500px;
    height: auto !important;
    width: auto !important;
}

.image-normal:hover {
    cursor: zoom-in;
}

.profile-popover,
.popup-avatar,
.avatar {
    height: 36px !important;
    width: 36px !important;
}

.shadow {
    opacity: 0.3;
}

.post-container {
    word-break: break-all;
}

a,
.private-post-title {
    font-weight: 500;
}

.private-post-title {
    padding: 0.2rem;
}

.d-flex {
    flex-wrap: wrap;
}

.action {
    margin-top: 0.5rem;
    margin-bottom: 0.1rem;
    height: 6rem;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}

.action-icon {
    transform: scale(2);
}

.btn,
.btn:hover,
.navbar-brand,
.navbar-brand:hover,
.nav-link,
.nav-link:hover,
.profile-popover,
.profile-popover:hover,
.action-link,
.action-link:hover {
    text-decoration: none;
}

.message-card {
    word-break: break-all;
}

.message-body {
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    max-width: 500px;
}

.self {
    color: #effffe;
}

.others {
    color: #233333;
}

.card,
.list-group {
    box-shadow: 1px 1px rgba(90, 90, 90, .1), -1px -1px rgba(90, 90, 90, .1);
}

.link-action,
.link-action-activated,
.btn-action,
.btn-action-activated {
    margin-right: 1rem;
}

.coin-option {
    height: 200px;
    border-radius: 5px;
}

.coin-option.selected {
    border: 2px solid #09b3eb;
}

.coin-one-img,
.coin-two-img {
    margin: auto;
}

.coin-one-img {
    width: 60%;
    height: 60%;
}

.coin-two-img {
    width: 45%;
    height: 45%;
}

.pi-icon {
    margin-top: -0.25rem;
}

a:hover {
    text-decoration: none;
}