#back-to-top {
    background: #555;
}

a:not([class]) {
    color: var(--light);
}

a:hover {
    text-decoration: none;
}

.private-post-title:hover {
    text-decoration: underline;
    background-color: var(--purple);
}

.link-action {
    color: #aaa;
}

.link-action:hover {
    color: #ccc;
}