#back-to-top {
    background: #dee;
}

.private-post-title {
    color: var(--light);
    background-color: var(--dark);
}

.private-post-title:hover {
    text-decoration: underline;
    color: var(--light);
}

.link-action {
    color: #888;
}

.link-action-activated {
    color: var(--blue);
}

.coin-option {
    background-color: var(--light);
}

a {
    color: var(--dark);
}