{% extends 'base.html' %}
{% from 'macros.html' import shop_card with context %}

{% block page_content %}
    <div class="max-w-5xl px-6 mx-auto">
        <h1 style="font-size: 250%; font-weight: 700;">Flog BetaShop</h1>
        <p>Your coins: <b>{{ current_user.coins | round(2) }}</b></p>
        <div class="flex mt-6 mb-4 p-2 rounded-lg bg-white dark:bg-gray-800 rounded-lg shadow-lg">
            <div class="flex items-center">
                <div class="mx-3"><b>Filter</b></div>
                {% if not filter == 'yours' %}
                    <div class="rounded-md bg-indigo-600 text-white py-2 px-4">{{ _("All Items") }}</div>
                    <a href="{{ url_for('shop.shop_index', filter='yours') }}"><div class="ml-2 rounded-md hover:bg-gray-200 dark:hover:bg-gray-700 py-2 px-4">{{ _("Your own") }}</div></a>
                {% else %}
                    <a href="{{ url_for('shop.shop_index', filter='all') }}"><div class="mr-2 rounded-md hover:bg-gray-200 dark:hover:bg-gray-700 py-2 px-4">{{ _("All Items") }}</div></a>
                    <div class="rounded-md bg-indigo-600 text-white py-2 px-4">{{ _("Your own") }}</div>
                {% endif %}
            </div>
        </div>
        <div class="grid lg:grid-cols-3 md:grid-cols-2 gap-4 mt-6">
            {% for id in goods.keys() %}
                {{ shop_card(user=current_user, id=id, goods=goods) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}