{% from 'bootstrap/nav.html' import render_nav_item %}
{% from 'macros.html' import static_file, change_theme %}
<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>{% block title %}SeaLog{% endblock title %}</title>
        {% block metas %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock metas %}
        {% block styles %}
            {{ static_file('icon', 'favicon/favicon.ico')}}
            {{ static_file('css', 'css/%s.min.css' % request.cookies.get('theme', 'default')) }}
        {% endblock styles %}
        {% block scripts %}
            {{ static_file('js', 'https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js', local=False) }}
            {{ static_file('js', 'https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js', local=False) }}
            {{ static_file('js', 'https://cdn.staticfile.org/twitter-bootstrap/4.5.2/js/bootstrap.min.js', local=False) }}
        {% endblock scripts %}
    {% endblock head %}
</head>
<body>
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">SeaLog</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                data-target="#collapse" aria-controls="collapse" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapse">
            <ul class="navbar-nav mr-auto">
                {{ render_nav_item('main.main', 'Main') }}
                {{ render_nav_item('feedback.feedback', 'Feedback') }}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{{ url_for('user.profile', username=current_user.username) }}" class="nav-link">
                        <img src="{{ current_user.gravatar(size=30) }}" alt="identicon" class="img-rounded" width="30px" height="30px">
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                            Account
                        </a>
                        <div class="dropdown-menu">
                            <a href="{{ url_for('main.edit_profile') }}" class="dropdown-item">Edit Profile</a>
                            <a href="{{ url_for('auth.logout') }}" class="dropdown-item">Log out</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ url_for('auth.login') }}" class="nav-link">Log in / Register</a>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Theme
                    </a>
                    <div class="dropdown-menu">
                        {% for theme_name, display_name in config.BOOTSTRAP_THEMES.items() %}
                            <a class="dropdown-item"
                                href="{{ url_for('others.change_theme', theme_name=theme_name, next=request.full_path) }}">
                                {{ display_name }}
                            </a>
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </div>
    </nav>
{% endblock navbar %}
{% block flashed_messages %}
    {% for message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ message[0] }}" class="close">
            <button type="button" class="close" data-dismiss="alert">&times;
            </button>
            {{ message[1] }}
        </div>
    {% endfor %}
{% endblock flashed_messages %}
{% block content %}
    <div class="content" style="font-family: 'Segoe UI', Arial, sans-serif;">
        {% block page_content %}{% endblock %}
        {% block share %}{% endblock %}
    </div>
    <footer class="footer" style="margin-left: 10px; width: 100%; padding: 20px">
        &copy; Copyright 2020 LSFD Class 202201
    </footer>
{% endblock %}
</body>
</html>