@media screen and (min-width: 992px) {
    html {
        height: 100%;
        width: 100%;
    }

    .focus {
        font-size: 2.5em;
    }

    .focus-title {
        padding: 3%;
    }

    div .left-focus {
        padding: 5%;
        background-color: #ffffff;
    }

    .col-lg-3 {
        padding-bottom: 25em;
        float: left;
        vertical-align: top;
        border-right: dotted thin #eee;
    }

    .col-lg-9 {
        padding-left: 100px;
        padding-right: 100px;
    }

    .idea, .main-passage {
        margin: 5px;
        padding: 5px;
    }

    .left {
        float: left;
        padding-left: 3%;
    }
    .right {
        float: right;
    }
    .right.head{
        margin-top: 40px;
        display: block;
    }

    .head {
        font-size: 48px;
    }

    .main-passage {
        margin-top: 26px;
        padding: 10px;
        display:block;
        font-size: large;
    }

    p .main-passage {
        width: 85%;
        text-indent: 2em;
        padding-right: 30px;
    }

    .idea {
        margin-top: 100px;
        width: 50em;
        margin-left: 8%;
        right: auto;
        z-index: 1;
    }

    footer {
        float: left;
        margin-top: 100px;
        padding-left: 2%;
    }
}