{% extends 'base.html' %}
{% from 'macros.html' import post_actions with context %}
{% block page_content %}
    <div class="row">
        <div class="col-lg-8" style="font-size: large">
            <div class="page-header">
                <h1>
                    {{ post.title }}
                </h1>
                <small>
                    Date: {{ post.date }}<br>
                    Author:
                    <a href="{{ post.author.profile_url() }}" class="profile-popover" data-href="{{ url_for('ajax.get_profile', user_id=post.author.id) }}">
                        {{ post.author.name }}
                    </a>
                </small>
            </div><br>
            {{ post.content | safe }}
            {{ post_actions(post, show_collectors=True) }}
            <div class="comments" id="comments">
                {% if comments|length > 0 %}
                <h3>{{ comments|length }} Comment(s)
                <small>
                <a href="{{ url_for('.full_post', slug=post.slug, page=pagination.pages or 1) }}#comments">
                latest</a>
                </small>
                </h3>
                {% else %}
                No comments yet.
                {% endif %}
            </div>
        </div>
        {% include 'main/_sidebar.html' %}
    </div>
{% endblock page_content %}
