{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% block page_content %}
    <div class="row">
    <div class="col-lg-8">
        <ul class="list-group">
        {% if pagination.items | length > 0%}
            {% for post in pagination.items %}
                <li class="list-group-item">
                    <a href="{{ post.url() }}">{{ post.title }}</a>
                    <p>
                        {{ post.content | striptags | truncate(200) }}
                    </p>
                    <span class="float-right">
                        <a class="btn btn-primary" href="{{ url_for('main.edit_post', id=post.id) }}">
                            EDIT
                        </a>
                        <form class="inline" method="POST" action="{{ url_for('main.delete_post', id=post.id)}}"
                            style="display: inline !important">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <button class="btn btn-danger" onclick="return confirm('Are you sure?');">
                                DELETE
                            </button>
                        </form>
                    </span>
            {% endfor %}
            {{ render_pagination(pagination) }}
        {% else %}
            <p class="display-4">Nothing Here</p>
        {% endif %}
        </ul>
    </div>
    {% include 'main/_sidebar.html' %}
    </div>
{% endblock page_content %}