{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% from 'macros.html' import role_label_of with context %}
{% block styles %}
    {{ super() }}
{% endblock styles %}
{% block page_content %}
    <ul class="list-group">
    {% for user in pagination.items %}
        <li class="list-group-item">
            <img src="{{ user.gravatar() }}">
            <a style="font-size: 2em" href="{{ url_for('main.user_profile', username=user.username) }}">{{ user.name }}</a>
            <span class="float-right text-white">
                {{ role_label_of(user) }}<br><br>
                <a class="btn btn-outline-danger" href="{{ url_for('admin.edit_user_profile', id=user.id) }}">
                    Edit Profile
                </a>
            </span>
        </li>
    {% endfor %}
    </ul>
    {{ render_pagination(pagination) }}
{% endblock page_content %}
