<div>
    <h2>{{ _("Reset your password") }}</h2>
    <p>{{ _("Dear User") }} {{ user.username }}<br>
        {{ _("We've received a request that you forgot your password and decided to reset it.") }}<br>
        {{ _("Here's the link") }}
        <a href="{{ url_for('user.reset_password', token=token, _external=True) }}">
            <button style="width:200px; height:100px; background: blue; color: white; border-radius: 7px; font-size: 1.5em; font-family: 'Segoe UI', Arial, sans-serif">
                {{ _("Reset your password") }}
            </button>
        </a><br>{{ _("or enter the following link to your browser") }}
        {{ url_for('user.reset_password', token=token, _external=True) }}
    </p>
</div>