{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% block page_content %}
    <ul class="list-group">
        {% for image in images %}
            <li class="list-group-item">
                <img src="{{ image.url() }}"
                     height="100px" width="auto"
                     onerror="src='https:\/\/news.aut.ac.nz/__data/assets/image/0006/92328/placeholder-image10.jpg';">
                <br>
                {% if image.private %}
                <span class="badge badge-dark">
                    {{ _("Private") }}
                </span>
                {% endif %}
                <form class="form-inline" style="margin-bottom: 5px" method="POST"
                      action="{{ url_for('.toggle_image_visibility', id=image.id) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button class="btn btn-sm btn-primary">
                        {{ _("Toggle Visibility") }}
                    </button>
                </form>
                <form class="form-inline" method="POST"
                      action="{{ url_for('.delete_image', id=image.id) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button class="btn btn-sm btn-danger">
                        <span class="fa fa-trash"></span>
                        {{ _("DELETE") }}
                    </button>
                </form>
            </li>
        {% endfor %}
    </ul>
    {{ render_pagination(pagination) }}
{% endblock page_content %}
