<div>
    <p>Hello, <strong>{{ user.username }}</strong><br>
    Welcome to Flog!</p>
    <p>To confirm your account please click on the button or the link given:</p>
    <a href="{{ url_for('auth.confirm', token=token, _external=True) }}">
    <button style="width:100px; height:50px; background: blue; text: white">
        Confirm your account
    </button>
    </a>
    <p>If the button doesn't work well, then copy this link to your browser:<br>
    {{ url_for('auth.confirm', token=token, _external=True) }}
    </p>
</div>