{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% block title %}
    Main
{% endblock %}
{% block styles %}
    {{ super() }}
    {{ static_file('css', 'css/main_mobile.css' ) }}
    {{ static_file('css', 'css/main_desktop.css') }}
{% endblock %}
{% block page_content %}
    <div class="container">
        <div class="page-header">
            <h1 class="display-4">Welcome, {{ current_user.role }} {{ current_user.name }}</h1>
        </div>
        <div class="row">
            <div class="col-md-8">
                {% include 'main/_posts.html' %}
            </div>
            <div class="col-md-4 sidebar">
                <div class="card mb-3">
                    <div class="card-header">Quick Actions</div>
                    <ul class="list-group list-group-flush">
                        <a class="list-group-item" href="{{ url_for('main.write') }}">
                            Write a post
                        </a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="pagination">
            {{ render_pagination(pagination) }}
        </div>
    </div>
{% endblock %}
