<div class="page-header">
    <h1 class="display-4">Welcome, {{ current_user.role }} {{ current_user.name }}</h1>
</div>
<div class="row">
    <div class="col-md-8">
        <ul class="list-group">
        {% for post in articles %}
            <li class="list-group-item">
                <h3 class="text-primary">{{ post.title }}</h3>
                <p>{{ post.content | safe | truncate(150) }}&hellip;</p>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-md-4 sidebar">
        <div class="card mb-3">
            <div class="card-header">Quick Actions</div>
            <ul class="list-group list-group-flush">
                <a class="list-group-item" href="{{ url_for('dashboard.write') }}">
                    Write a post
                </a>
            </ul>
        </div>
    </div>
</div>