{% macro static_file(type, filename_or_url, local=True, alt=None) %}
    {% if local -%}
        {% set filename_or_url = url_for('static', filename=filename_or_url) %}
    {%- endif %}
    {% if type == 'css' -%}
        <link rel="stylesheet" href="{{ filename_or_url }}">
    {% elif type == 'js' -%}
        <script src="{{ filename_or_url }}"></script>
    {% elif type == 'icon' -%}
        <link rel="icon" href="{{ filename_or_url }}">
    {%- endif %}
{% endmacro %}

{% macro role_label_of(user) %}
    <span class="text-white">
    {% if user.is_administrator() -%}
        <span class="bg-danger" style="border-radius: 5px; padding: 5px;">Admin</span>
    {% elif user.can(Permission.MODERATE) -%}
        <span class="bg-warning" style="border-radius: 5px; padding: 5px;">Moderator</span>
    {% else -%}
        <span class="bg-primary" style="border-radius: 5px; padding: 5px;">User</span>
    {%- endif %}
    </span>
{% endmacro %}
