@media screen and (max-width: 1080px) {
    div .navbar {
        width: 100%;
    }

    h3, caption {
        margin-left: 40px;
        width: 95%
    }
    caption {
        caption-side: top;
    }
    th, td {
        text-align: center;
    }

    th:hover, td:hover {
        background-color: #a9a9a9;
        color: #ffffff;
    }

    ul.info {
        list-style-type: none;
    }

    ul.info li {
        font-size: 1.3em;
    }

    table #teachers {
        max-width: 99%;
    }

    table #classmates {
        max-width: 99%;
    }

    table #teachers td, table #teachers th {
        max-width: 22%;
    }
}